body {
    font-family: Arial;
    overflow:hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.escurecimento {
    position:absolute;
    top:0; right:0;
    bottom:0; left:0;
    background: black;
    z-index: -1;
}

.botao {
    cursor:pointer;
}

.vidro-carro {
    position:absolute;
    top:0; right:0;
    bottom:0; left:0;
    background: url("img/estrada.jpg");
    background-size: cover;
    min-width: 1300px;
    min-height: 700px;
    z-index: -999;

}

.vidro-carro .retrovisor-corpo {
    background: url("img/retrovisor.png") no-repeat -10px;
    background-size: cover;
    margin: 0 auto;
    width: 400px;
    height: 150px;
}

.vidro-carro .retrovisor-conteudo {
    width: 295px;
    height: 70px;
    margin-top: 34px;
    float: left;
    margin-left: 45px;
}

.vidro-carro .barra-escurecimento {
    margin-left: 3px;
    box-sizing: border-box;
    border: 1px solid gray;
    position: absolute;
    top: 0px;
    width: 15px;
    height: 100%;
    float: left;
    background-color: #484848;
    opacity: 0.7;
    cursor:pointer;
}

.barra-escurecimento .percentagem {
    width:100%;
    position: absolute;
    bottom: 0px;
    background: #1A1A1A;
}

.vidro-carro .barra-valor-percentagem {
    display:none;
    position: absolute;
    bottom: 0px;
    color: white;
    font-weight: bold;
}


.vidro-carro .gps-corpo {
    position: absolute;
    top: 0px;

    width: 300px;
    height: 300px;
    float: left;
    margin-left: 100px;
    margin-top: 50px;
    opacity: 0.9;
    z-index: 2;
}

.gps-corpo .localizacao {
    width: 20px;
    height: 20px;
    font-family: FontAwesome;
    font-size: 20px;
    color: cadetblue;
    position: absolute;
    top: 200px;
    z-index: 1;
    /* opacity: 0.7; */
    left: 145px;
    -webkit-transform: rotate(-95deg);
    transform: rotate(-95deg);
    ms-transform: rotate(-95deg);
}

.localizacao:before {
    content: "\f04b";
}

.gps-corpo .imagem {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("img/staticmap.png") no-repeat center;
    border-radius: 10000px;
    border: 2px solid black

}
.gps-corpo > .botao {
    padding-top: 5px;
    padding-bottom: 37px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid black;
    float: left;
    color: white;
    background: black;
    z-index: 1;
}

.botao.voltar {
    padding-top: 37px;
    padding-bottom: 5px;
    -webkit-transform: rotate(-36deg);
    transform: rotate(-39deg);
    ms-transform: rotate(-36deg);
    position: absolute;
    right: 19px;
    bottom: -1px;
    z-index: -1;
}

.botao.camera {
    padding-top: 37px;
    padding-bottom: 5px;
    -webkit-transform: rotate(36deg);
    transform: rotate(39deg);
    ms-transform: rotate(36deg);
    position: absolute;
    left: 18px;
    bottom: -1px;
    z-index: -1;
}


.botao.definicao {
    -webkit-transform: rotate(34deg);
    transform: rotate(34deg);
    ms-transform: rotate(34deg);
    position: absolute;
    right: 11px;
    top: -3px;
    z-index: -1;
}

.botao.navegar {
    -webkit-transform: rotate(-55deg);
    transform: rotate(-55deg);
    ms-transform: rotate(-55deg);
    position: absolute;
    left: -23px;
    top: 34px;
    z-index: -1;
}

.botao.alertas {
    -webkit-transform: rotate(-13deg);
    transform: rotate(-13deg);
    ms-transform: rotate(-13deg);
    position: absolute;
    left: 76px;
    top: -23px;
    z-index: -1;
}

.gps-corpo > .botao:hover,
.gps-corpo > .botao.hover,
.gps-corpo > .botao.selecionado {
    background: gray;
}

.botao.botao-selecionado {
    background: gray;
}

.gps-corpo .definicoes {
    display:none;
    width: 215px;
    float: left;
    position: absolute;
    top: 48px;
    left: 38px;
    height: 195px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 5px;
    z-index: 2;
}

.definicoes h2 {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.definicoes > .botao {
    margin-top: 10px;
    padding: 10px;
    border: 2px solid black;
    text-align: center;
    border-radius: 7px;
    background-color: #4A4A3C;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.definicoes > .botao.selecionado,
.definicoes > .botao:hover,
.definicoes > .botao.hover {
    background: black;
}

.vidro-carro .alerta {
    margin: 0 auto;
    width: 450px;
    height: auto;
    text-align: center;
    padding: 10px;
    border-radius: 7px;
    background: gray;
    color: Black;
    opacity: 0.7;
}

.alerta .icon {
    font-family: FontAwesome;
    float:left;
    width: 60px;
    height: 60px;
    font-size: 60px;
}

.spin-icon {
    font-size: 125px;
    text-align: center;
    width: 100%;
}

.alerta .icon.sol:before {
    content: "\f185";
}

.alerta .icon.frente:before {
    content: '\f062';
}

.alerta .icon.power-off:before {
    content: "\f011";
}

.alerta .icon.video:before {
    content: "\f03d";
}

.alerta .icon.foto:before {
    content: "\f030";
}

.alerta .mensagem-dual {
    font-size: 20px;
    font-weight: bold;
}

.alerta .mensagem-dual p {
    font-size: 16px;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
}

.alerta .mensagem-single {
    line-height: 50px;
    font-size: 25px;
    font-weight: bold;
}

.icon + .mensagem-single {
    font-size: 20px;
    line-height: 60px;

}

.vidro-carro .volante {
    width: 500px;
    height: 250px;
    background: url('img/volante_cortado.png') no-repeat;
    position: absolute;
    bottom: 0px;
    left: 140px;
    background-size: cover;
}

.volante .botao {
    width: 40px;
    height: 30px;
    position: absolute;
    text-align: center;
}

.volante .botao#botao_volante_1 {
    width: 43px;
    height: 43px;
    top: 89px;
    left: 57px;
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
    ms-transform: rotate(36deg);
    font-family: FontAwesome;
    font-size: 40px;
   }

.volante .botao#botao_volante_1 .cima {
    float: left;
    width: 50%;
    height: 100%;
}

.volante .botao#botao_volante_1 .baixo {
    float: right;
    width: 50%;
    height: 100%;
}

.volante .botao#botao_volante_1 .cima:before {
    content: "\f104";
}
.volante .botao#botao_volante_1 .baixo:before {
    content: "\f105";
}

.volante .botao#botao_volante_2 {
    top: 70px;
    -webkit-transform: rotate(45deg);
    transform: rotate(50deg);
    ms-transform: rotate(50deg);
    left: 81px;
    text-align: center;
    font-weight: bold;
    line-height: 30px;
}

.volante .botao#botao_volante_3 {
    right: 68px;
    top: 70px;
    -webkit-transform: rotate(-46deg);
    transform: rotate(-46deg);
    ms-transform: rotate(-46deg);
    font-size: 10px;
    font-weight: bold;
    line-height: 30px;
}

.volante .botao#botao_volante_4 {
    right: 46px;
    top: 96px;
    -webkit-transform: rotate(-36deg);
    transform: rotate(-36deg);
    ms-transform: rotate(-36deg);
    line-height: 32px;
}

.volante .botao#botao_volante_4:before {
    content: "\f011";
    font-family: FontAwesome;
    font-size: 30px;
}

.volante .comhover:hover,
.volante .comhover.hover{
    color: #1A1A1A;
}

.incrementar .botao {
    width: 45%;
    font-family: FontAwesome;
    font-size: 60px;
    text-align: center;
    color: #4A4A3C;
}

.incrementar .botao:hover,
.incrementar .botao.hover,
.incrementar .botao.selecionado {
    color: black;
}

.incrementar .botao#aumentar-escuro-botao {
    float: left;
}
.incrementar .botao#aumentar-escuro-botao:before {
    content: "\f055";
}

.incrementar .botao#diminuir-escuro-botao {
    float: right;
}

.incrementar .botao#diminuir-escuro-botao:before {
   content: "\f056";
}

.sol-grande {
    background: url('img/sol.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    position: absolute;
    /*top: 70px;
    left: 460px;*/
    top: -200px;
    left: 200px;
    z-index: -1;
}
#camera-ecra { font-family: FontAwesome; }

#camera-ecra .foto {
    width: 75px;
    height: 75px;
    float: left;
    margin-top: 35px;
    margin-left: 10px;
    font-size: 75px;
    line-height: 80px;
}

#camera-ecra .video {
    width: 75px;
    height: 75px;
    float: right;
    margin-top: 35px;
    margin-right: 10px;
    font-size: 75px;
    line-height: 80px;
}

#camera-ecra .video:after {
    content: "\f03d";
}

#camera-ecra .foto:after {
    content: "\f030";
}

.botao.video,
.botao.foto {
    position: relative;
}

.botao > .info {
    font-size: 20px;
    position: absolute;
    bottom: -47px;
    width: 100%;
}

.gravacao {
    width: 400px;
    height: 300px;
    border: 2px dashed red;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: url("img/estrada.jpg");
    background-size: cover;
    opacity: 0.8;
    display: none;
}

.gravacao.foto {
}

.gravacao.video > .rec {
    margin-top: 10px;
    margin-left: 10px;
}

.gravacao.video > .rec > .bolinha {
    border-radius: 99999px;
    width: 20px;
    height: 20px;
    background: red;
    float: left;
    margin-right: 10px;
}

.gravacao.video > .rec > .texto {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 10px;
    color: red;
    font-weight: bold;
    font-size:20px;
}

.gravacao.video .stop {
    padding: 5px 10px;
    border: 2px solid white;
    position: absolute;
    top: 40px;
    left: 11px;
    color: white;
    font-weight: bold;
    background: red;
}

.retrovisor-conteudo > .gravacao-video .rec {
    margin-top: 10px;
    width: 50px;
    height: 15px;
    background: rgba(0,0,0,0.5);
    line-height: 15px;
    display: none;
}

.retrovisor-conteudo > .gravacao-video .bolinha {
    border-radius: 99999px;
    width: 10px;
    height: 10px;
    background: red;
    float: left;
    margin-right: 5px;
    margin-top: 2px;
}


.retrovisor-conteudo > .gravacao-video .texto {
    float: left;
    margin-right: 5px;
    color: red;
    font-weight: bold;
    font-size:10px;
}

.shutter {
    font-family: FontAwesome;
    font-size: 40px;
    position: absolute;
    top: 10px;
    right: 20px;
    color: red;
}

.gravacao.foto.blink {
    background: white;
}

.shutter:before {
    content: "\f192";
}

.navto {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
}

.mini-alerta {
    margin-top: 10px;
}

.mini-alerta .texto {
    float: left;
    font-size: 16px;
    width: 150px;
    line-height: 25px;
    margin-left: 10px;
}

.mini-alerta .icon {
    font-family: FontAwesome;
    font-size: 50px;
    float: left;
    width: 50px;
    height: 50px;
}

.icon.stop:after {
    content: '\f071';
}

.icon.interrupcao:after {
    content: '\f018';
}

.icon.transito {
    background: url('img/transito.png');
    background-size: cover;
}

.tipo-alerta {
    font-family: FontAwesome;
}

.tipo-alerta.tipo-actual {
    width: 75px;
    height: 75px;
    position: absolute;
    font-size: 75px;
    top: 40px;
    left: 75px;
}

.tipo-alerta.tipo-antes {
    width: 50px;
    height: 50px;
    position: absolute;
    font-size: 50px;
    left: 10px;
    top: 10px;
}

.tipo-alerta.tipo-depois {
    width: 50px;
    height: 50px;
    position: absolute;
    font-size: 50px;
    right: 10px;
    top: 10px;
}

.texto-alerta {
    position: absolute;
    top: 113px;
    width: 96%;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

#esq-tipo-botao {
    width: 45px;
    font-size: 45px;
    top: 60px;
    position: absolute;
    left: 10px;
}

#dir-tipo-botao {
    width: 45px;
    font-size: 45px;
    top: 60px;
    position: absolute;
    right: 10px;
}

#esq-tipo-botao:after {
    content: '\f060';
}
#dir-tipo-botao:after {
    content: '\f061';
}